<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.PasswordTableMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.PasswordTable">
    <result column="password_key" jdbcType="INTEGER" property="passwordKey" />
    <result column="password_public" jdbcType="VARCHAR" property="passwordPublic" />
    <result column="password_private" jdbcType="VARCHAR" property="passwordPrivate" />
    <result column="password_des" jdbcType="VARCHAR" property="passwordDes" />
    <result column="password_time" jdbcType="TIMESTAMP" property="passwordTime" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.pojo.PasswordTable">
    insert into passwordtable (password_key, password_public, password_private, 
      password_des, password_time)
    values (#{passwordKey,jdbcType=INTEGER}, #{passwordPublic,jdbcType=VARCHAR}, #{passwordPrivate,jdbcType=VARCHAR}, 
      #{passwordDes,jdbcType=VARCHAR}, #{passwordTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.pojo.PasswordTable">
    insert into passwordtable
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="passwordKey != null">
        password_key,
      </if>
      <if test="passwordPublic != null">
        password_public,
      </if>
      <if test="passwordPrivate != null">
        password_private,
      </if>
      <if test="passwordDes != null">
        password_des,
      </if>
      <if test="passwordTime != null">
        password_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="passwordKey != null">
        #{passwordKey,jdbcType=INTEGER},
      </if>
      <if test="passwordPublic != null">
        #{passwordPublic,jdbcType=VARCHAR},
      </if>
      <if test="passwordPrivate != null">
        #{passwordPrivate,jdbcType=VARCHAR},
      </if>
      <if test="passwordDes != null">
        #{passwordDes,jdbcType=VARCHAR},
      </if>
      <if test="passwordTime != null">
        #{passwordTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>